body {
    background-color: deeppink;

    font-family: Helvetica;
    color: white;
}

h1 {
    font-family: Helvetica;
    font-size: 30px;
    color: white;

    margin-top: -5px;
}

h2 {
    font-family: Helvetica;
    font-size: 20px;
    color: white;

    margin-top: 0px;
}

h3 {
    font-family: Helvetica;
    font-size: 16px;
    color: white;

    margin-top: 0px;
    margin-bottom: 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    margin-left: 0px;
    margin-right: 0px;

    padding-left: 0px;
    padding-right: 0px;
}

.button {
    margin: 2px;
    background-color: #FFFF00;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.button-small {
    font-size: 12pt;
    padding: 5px 10px;
}

.button-selected {
    background-color: #00FF00;
    -webkit-transition: none;
    -ms-transition: none;
    transition: none;
}

.button-container {
    margin-top: 5px;
    border: 2px solid white;
    margin: 2px;
}

.numbers-list-container {
    font-size: 0.7em;
    word-wrap: break-word;
    -moz-text-size-adjust: none;
}

.chart-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

sliderContainer {
    padding-top: 5px;
    padding-bottom: 5px;
}

.slider {
    -webkit-appearance: none;
    width: 500px;
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}